<h1 class="textmembership text-center mt-4 ">Membership Plan</h1>
<div class="container d-flex flex-wrap justify-content-center align-items-center">
  <% @membership.each do |membership|%>
    <div class="card  w-30 p-3 m-3 text-capitalize shadow" >
      <p>
        <strong>name:</strong>
        <%= membership.name.capitalize%>
      </p>

      <p>
        <strong>description:</strong>
        <%= membership.discription%>
      </p>

      <p>
        <strong>price:</strong>
        <%= "₹ #{membership.price}"%>
      </p> 
         
      <% if current_user.memberships.include?(membership) %>
        <% plan = current_user.plans.find_by(membership_id: membership.id )%>
          <% session = Stripe::Checkout::Session.retrieve(plan.session_id) %>
          <% if session.payment_status == "paid"  %>
            <h3 ><%= link_to " Joined", "/users/index",class:" btn btn-sg btn-danger text-white" %></h3>
          <% elsif %>
            <% plan.destroy %>
            <%= link_to "Create Payment", new_plan_path(id: membership.id ), class: "btn btn-sg btn-success text-white" %>
          <% end %>
      <% elsif current_user.memberships.any? {|x| x.gym_class == membership.gym_class } %>
        <h3> <%= link_to "Upgrade membership", "/upgrade?id=#{membership.id}" ,class:" button_membership btn btn-sg btn-success text-white" %></h3>
      <% else %>
       <%= link_to "Create Payment", new_plan_path(id: membership.id ), class: "btn btn-sg btn-success text-white"  %>
      <% end %>
    </div> 
  <%end%> 
</div>
