  
  <h4><div class="notice m-2">
    <%= flash[:notice] %>
  </div></h4>
    
<div class="mt-3">
  <%= link_to "chatroom",rooms_path %>
 <div class="profile_name" style="padding-left: 15px;"> <h1><i class="fa-regular fa-user"></i> <%= current_user.name.capitalize %></div>
  </h1>
   
<%# <%= image_tag('gymimage.jpg', width: "100px", height: "100px", style: "background-size: cover;") %> 

<div class=" mx-4  d-flex flex-wrap justify-content-center  align-items-center">
  <% @plans.each do |plan| %>
  
    <div class="card  shadow-lg p-3 m-3 mb-5 bg-white  text-capitalize rounded-9  border-bottom-0">
      <p>
        <strong>membership:</strong>
        <%= plan.membership.name.capitalize %><br> 
      </p>
      <p>
        <strong>gym_class:</strong>
        <%= plan.membership.gym_class.name %> <br>
      </p>
      <p>
         <strong>Class Timing:</strong>
         <%= "#{plan.membership.gym_class.start_time.strftime('%I:%M %p')} - #{plan.membership.gym_class.end_time.strftime('%I:%M %p')}" %>
        </p>

      <p>
        <strong>gym name:</strong>
        <%= plan.membership.gym_class.gym.name %>
      </p>
      <p>
        <strong>buy plan:</strong>
        <%= plan.created_at.strftime("%d/%m/%y") %>
      </p>
      <p>
        <strong>expire plan:</strong>
        <% expire_date = (plan.created_at + plan.membership.days.days) %>
        <%= expire_date.strftime("%d/%m/%y") %>
      </p>

       <p>
        <strong>Remaining days:</strong>
        
        <% if expire_date.present? %>
         
          <% expire_date = expire_date.to_date %> 
          <% remaining_days = (expire_date - Date.today).to_i %>
          <%= remaining_days %> 
          <% if remaining_days.zero? %>
            <% plan.destroy %>
          <% end %>
        <% end %>
      </p>
    </div>
  <% end %> 
</div>
</div>